body {
    background-color: rgb(128, 139, 168);
    background-image: url("../images/window.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

#chalkboard {
    margin: auto auto auto auto;
    width: 60%;


}

#boardspace {
    width: 600px;
    height: 580px;
    margin: auto;
    font-family: 'finger paint', 'ms comic sans';
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#boardimage {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 820px;
    height: auto;
    z-index: -1;
}

#gallows {
    display: flex;
    justify-content: space-around;
    height: 230px;
}

#halfboard{
    font-family: 'finger paint', 'ms comic sans';
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#guessedLetters {
    font-size: 32px;
    text-align: center;
}

#gameMessage, #blanks {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

#franklin {
    text-align: left;
}

#tally {
    text-align: left;
    position: absolute;
    top: 90px;
}